/* @import url("https://use.typekit.net/jmk3xov.css"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Rubik:wght@400;500;700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* display: none; */
  /* width: 100vw; */
}

h1, h2, h3, blockquote {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.social, .nav {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 3rem;
}

.nav{
  font-size: 2rem;
  color: #00c2ff;
  padding-bottom: 1rem;
}

.nav>li {
  display: inline;
  padding-right: 10px;
}

.nav>li>a {
  color: inherit;
}

.link>a{
  text-decoration: none;
  color: white;
}

.link{
  display: inline;
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) {
  /* Styles */
  header {
    grid-column: 1 / 13;
    font-size: 2rem;
    padding: 1.5rem;
  }
  .nav{
    font-size: 1.5rem;
  }
  section {
    grid-column: 1 / 13;
  }
  .left {
    grid-column: 1 / 13;
  }
  main{
    padding-bottom: 0;
  }
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width: 901px) and (max-width : 1300px) {
  /* Styles */
  header {
    grid-column: 2 / span 7;
  }
  section {
    grid-column: 2 / span 8;
  }
  .left {
    grid-column: 4 / 12;
  }
}